<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Aviso de Alquiler de Bicicletas</title>
<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    .container {
        max-width: 600px;
        margin: auto;
        background-color: #ffffff;
        padding: 20px;
    }
    .header {
        background-color: #008000;
        color: #ffffff;
        padding: 10px;
        text-align: center;
    }
    .content {
        padding: 20px;
        color: #333333;
        line-height: 1.6;
    }
    .footer {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        padding: 10px;
        font-size: 12px;
    }
</style>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>¡Tu Aventura en Bicicleta con BelliBikes!</h1>
    </div>
    <div class="content">
        <p>{{message}}</p>
        </br>
        <p>Un cordial saludo de parte del equipo de BelliBikes.</p>
    </div>
    <div class="footer">
        <p>Gracias por elegirnos para tu próxima aventura.</p>
    </div>
</div>
</body>
</html>
